/* Body */

body{

    background-color: #EDEDED;
    color: darkgray;
}

/* Navbar */

.navbar{

    max-height: 60px;
    background-color: #c8cac9;

}

h4{
    color: #0cd1c7;
    font-weight: bold;
    font-family: Georgia, 'Tahoma', Times, serif;
    font-size: 5;
}
h3 {
    color: #0cd1c7;
    font-weight: bold;
    font-family: Georgia, 'Tahoma', Times, serif;
    padding-top: 25px;
}
.navigation .navbar-brand{

    color: white;

    margin-left: 35px;

    padding: 15px;

    font-weight: bold;

    background-color: white;

    font-family: Georgia, 'Tahoma', Times, serif;

}

.navbar{

    background-color: white;

    font-size: 18px;

}
a{

    color: #6D8092;

    font-size: 15px;

}


/* Images */

img{

    width:100% ;

    height:100%;

}

/* header for comparison page */
.imageNav-header {
    color: #10bbb2;
    font-weight: bold;
    font-size: 8;
    text-align: center;
    
}
/* Paragraph*/

p{
color: black;
font-family: calibri, Helvetica, sans-serif;
font-size: 18px;
}

/* Box Class */

.box {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10px;
    padding: 10px 20px 15px;
    color:black;
    background-color: white;
}
  .box1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 70px;
    padding: 10px 10px 0px;
    color: black;
    background-color: white;
    
  }
/* Table */

.table{
    font-size: 15px;
    margin-left: 50px;
    margin-right: 0px;
  
}

/* Footer */

footer{

background-color: #666666;

border-top-style: solid;

border-top-width: 5px;

border-top-color: rgb(12, 233, 203);

color: white;

min-height: 55px;

font-family: Arial, Tahoma, sans-serif;

font-size: 15px;

text-align: center;

position: fixed;

left: 0;

bottom: 0;

width: 100%;

padding-top: 15px;

}

/* Media Queries */

@media(max-width: 992px){

.navbar-expand-lg{

background-color: white;

}
/* Media query for body */
@media only screen and (max-width: 767px) {
    /* Set background color to white on small screens */
    body {
      /* Visual */
      background-color: #fff;
    }
  }
  
.navbar{

    max-height: none;

    padding: inherit;

}

.navbar div{

    margin: inherit;

    background-color: white; 

}

.navbar-brand{

    padding: 10px;

}

 

button{

    margin-right: 30px;
    
}

button:focus {

 

    outline: 1px dotted;

    outline: 5px auto -webkit-focusring-color;

   

    }

}
